@import "tailwindcss";

:root {
  --bg: #f2f4f8; --white: #ffffff; --surface: #f7f8fb;
  --sidebar-bg: #edf0f5; --border: #e0e4ed; --border2: #c8cedd;
  --green: #0ca974; --green-l: #e8f8f2; --green-m: #a8e8cc;
  --red: #d93025; --red-l: #fdf0ef;
  --amber: #d97706; --amber-l: #fef3e0;
  --blue: #1a6fc4; --blue-l: #e8f0fc;
  --purple: #6941c6; --purple-l: #f4f0fd; --purple-m: #d4c5f5;
  --text: #1c2333; --text2: #4e5a72; --text3: #8e9ab2;
}

body {
  font-family: 'Outfit', sans-serif;
}

.font-mono {
  font-family: 'DM Mono', monospace;
}
